<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Máquina de Buscas</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-searchbar [(ngModel)]="searchTerm" (keyup.enter)="pegarLinks()"></ion-searchbar> 
  <ion-list>
 
    <ion-item button *ngFor="let link of links">
 
      <ion-label text-wrap>
        <h3>{{ link.url }}</h3>
      </ion-label>
 
      <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon>
 
    </ion-item>
 
  </ion-list>
 
</ion-content>
